@charset "UTF-8";

body, td, th, div, p, li, input, a {
	font-size: 16px;
	font-weight: normal;
	color: #333333;
	font-family: "맑은 고딕", 굴림, Sans-Serif;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}
/* 게시판 테이블 디자인 */
.boardTab {
	border: 0px;
	border-top: 3px solid #29367C;
	border-bottom: 2px solid #29367C;
	border-spacing: 0px
}

/* 게시판 테이블 제목 디자인 */
.boardTab>thead>tr>th {
	height: 38px;
	background-color: #FFFFFF;
	border: 0px;
	border-bottom: 2px solid #29367C;
	font-weight: bold
}
/* 게시판 테이블 각 항목 넓이 디자인 */
.numTitle {
	width: 55px
}

.subjectTitle {
	width: 510px
}

.writeTitle {
	width: 125px
}

.inputDateTitle {
	width: 60px
}

.cntTitle {
	width: 60px
}

.recommTitle {
	width: 38px
}

/* 행의 높이  */
.boardTab>tbody>tr>td {
	height: 38px;
	border-bottom: 1px solid #EEEEEE
}

/*행에 마우스 포인터가 올라갔을 때 바닥색 설정  */
.boardTab>tbody>tr:hover {
	background-color: #EEEEEE;
}

.gal {
	font-weight: bold;
}

.repl {
	font-size: 13px;
	color: #A6A6A6;
}

.listBt {
	font-size: 15px;
	background-color: #3B4890;
	border: 1px;
	border-color: #29367C;
	color: #FFFFFF;
	width: 83px;
	height: 35px;
}